<h1>Products:</h1>
<% @products.each do |product| %>
  <%= link_to product_path(product.id) do %>
    <div class="product">
      <%= image_tag product.image, width: "200px" if product.image.attached? %>
      <h2><%= product.title %></h2>
      <p>$ <%= product.price %></p>
    </div>
  <%end%>
<% end %>
